<section>
  <h1>Savannah Things</h1>
  <ul id="savannah_ruby_things">
    <li><a href="http://refreshsavannah.com">Refresh Savannah</a></li>
    <li><a href="http://openhack.github.io/savannah/">OpenHack Savannah</a></li>
    <li><a href="http://creativecoast.org">The Creative Coast</a></li>
    <li><a href="https://groups.google.com/forum/#!forum/railsbridge-savannah">The RailsBridge Savannah Google Group</a></li>
    <li><a href="http://www.linkedin.com/groups?gid=2285863">Creative Coast on LinkedIn</a></li>
  </ul>
</section>